
@{
    ViewBag.Title = "AddBrand";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<h2 class="mt-5">Add Brand</h2>
<h2 class="mt-20">Add Brand</h2>
<form action="/Brands/AddBrand" method="post" enctype="multipart/form-data">
    <div class="row">
        <!--<div class="col-md-6">
            <label for="BrandId">Id</label>
            <input class="form-control"
                   type="number"
                   name="BrandID"
                   id="BrandID"
                   placeholder="Id" />-->
            @*@Html.ValidationMessage(row => row.ProId)*@
        <!--</div>-->

        <div class="col-md-6">
            <label for="BrandName">Name</label>
            <input class="form-control"
                   type="text"
                   name="BrandName"
                   id="BrandName"
                   placeholder="Name" />
            @*@Html.ValidationMessage(row => row.ProName)*@
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a href="/Brands/Index" class="btn btn-danger">Cancel</a>
</form>

